<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.guardswift">


    <permission
        android:name="com.guardswift.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!-- Keep services alive -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- Opt out of Doze mode -->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <!-- Read RFID tags-->
    <uses-permission android:name="android.permission.NFC" />

    <!-- Keep services running -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Download updates -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!-- Internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Connectivity -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Position -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Activity -->
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <!-- Parse Push -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />


    <permission
        android:name="com.guardswift.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.guardswift.permission.C2D_MESSAGE" />


    <application
        android:name=".ui.GuardSwiftApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:replace="android:theme"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- ACTIVITIES -->
        <activity
            android:name=".ui.activity.MainActivityDispatcher"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:configChanges="keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >

            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED"/>
            </intent-filter>
            <!-- Filter which RFID technologies to support -->
            <meta-data android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />

            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED"/>
            </intent-filter>

            </activity>
        <activity
            android:name="com.parse.ui.ParseLoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">

            <!-- For more options, see https://www.parse.com/docs/android_guide#ui-login -->
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.APP_LOGO"
                android:resource="@drawable/ic_launcher" />
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_ENABLED"
                android:value="true" />
            <!-- <meta-data -->
            <!-- android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_EMAIL_AS_USERNAME" -->
            <!-- android:value="true"/> -->
        </activity>

        <activity
            android:name=".ui.activity.RFIDRegisterActivity"
            android:launchMode="singleTop"
            android:excludeFromRecents="true"
            android:label="@string/title_rfid"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.GuardLoginActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_guard_login"
            android:screenOrientation="portrait"
            android:taskAffinity=".activity.GuardLoginActivity" />
        <activity
            android:name=".ui.parse.documentation.report.create.activity.CreateEventHandlerActivity"
            android:label="@string/title_event_add"
            android:parentActivityName=".ui.activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.parse.documentation.report.create.activity.UpdateEventHandlerActivity"
            android:label="@string/title_activity_add_event"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ParseTaskCreateReportActivity"
            android:parentActivityName=".ui.activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.dialog.activity.AlarmDialogActivity"
            android:launchMode="singleTask"
            android:showOnLockScreen="true"
            android:theme="@style/AppTheme.Light.Dialog" />


        <!-- PARSE -->
        <service android:name="com.parse.PushService" />

        <receiver
            android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.guardswift" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.parse.push.gcm_sender_id"
            android:value="id:343541591235" />


        <!-- CONTEXT AWARENESS -->
        <service
            android:name=".core.ca.location.FusedLocationTrackerService"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".core.ca.activity.ActivityRecognitionService"
            android:exported="false" />


        <!-- META -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="1d3137a16e5b81623a1376cbae7962314b9c8d6a" />

        <activity android:name=".ui.activity.GenericToolbarActivity"
            android:screenOrientation="portrait"/>

        <!-- Firebase -->
        <service android:name=".firebase.AlarmReceiver">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".ui.activity.MapsActivity"
            android:label="@string/title_activity_maps" />

        <!-- Fix Google maps on Android 9.0+ -->
        <!-- https://stackoverflow.com/questions/50782806/android-google-maps-java-lang-noclassdeffounderror-failed-resolution-of-lorg-a -->
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <!-- Needed when previewing PDFs -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

    </application>

</manifest>